.card {
  position: relative;
  margin: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 20px;
  padding: 2rem;
  overflow: hidden;

  width: 100%;
}
