.btn {
  padding: 0.85rem 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #0f0f0f;
  background-color: #ffff;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #252525;
  color: #f5f5f5;
}

.header__content {
  position: relative;
  width: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px); /* Adjust the blur strength as desired */
  transform: scale(2);
  z-index: -1;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.header__image img:nth-child(1) {
  max-width: 400px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 300px;
  padding: 0;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.section__subtitle {
  color: #f5f5f5;
  font-size: 1.25rem;
  font-weight: 600;
}

.header__content .sub__header {
  font-size: 1rem;
  color: #f5f5f5;
}

.header__content h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #f5f5f5;
  margin: 0;
  width: 550px;
  font-style: italic;
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.7rem 0.8rem;
  }

  .header__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .header__image img:nth-child(1) {
    max-width: 250px;
    transform: translate(-50%, -50%);
  }

  .header__image img:nth-child(2) {
    max-width: 150px;
    transform: translate(-50%, -50%);
  }

  .header__content > div {
    max-width: 100%;
    width: 100%;
  }

  .header__content h1 {
    font-size: 1.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .section__subtitle {
    font-size: 0.75rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .header__image {
    display: none;
  }

  .header__content .action__btns {
    justify-content: center;
  }

  .background-video {
    filter: blur(8px);
  }

  .btn {
    font-size: 0.75rem;
    padding: 0.75rem;
    margin: 0;
  }
}
