.user-item {
  margin: 1rem;
  min-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-content {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.users-text {
  width: 80%;
}

.users-content h1 {
  font-size: 5rem;
  width: 80%;
  color: #0f0f0f;
}

.users-content p {
  font-size: 1.5rem;
}

.user-item a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 2rem;
  color: #0f0f0f;
  background: #ffff;
  transition: all 0.35s ease-in-out;
}

.user-item a:hover,
.user-item a:active {
  background: #bcbcbc;
}

.user-item__content {
  padding: 0;
}

.user-item__image {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

.user-item__info h2 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #0f0f0f;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3 {
  color: #292929;
}

.user-item__info h3 {
  margin: 0;
}
