.button {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

.button {
  font: inherit;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #f5f5f5;
  color: #0f0f0f;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;

  font-size: 0.85rem;

  transition: all 0.25s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #949494;
  color: #f5f5f5;
}

.button--inverse {
  color: #0f0f0f;
}

.button--inverse:hover,
.button--inverse:active {
  color: #0f0f0f;
  background: #ffff;
}

.button--danger {
  background: transparent;
  transition: all 0.25s ease-in-out;
}

.button--danger:hover {
  color: #f5f5f5;
  background: #d21312;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
