.form-control {
  margin: 0;
  height: max-content;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  text-align: center;
}

.form-control label {
  font-weight: 800;
  text-align: center;
  margin: 0.5rem 0;
  font: 2rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  background: #f8f8f8;
  border: none;
  padding: 0;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
