.main-header {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5rem;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

.main-header:hover {
  background: #0f0f0fb6;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main-header {
    padding: 0;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
